@model IEnumerable<MenuItem>
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">CORE</div>
            <a class="nav-link" href="/Home/Index">
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">MANAGEMENT</div>
            @foreach(var item in Model)
            {
                <a class="nav-link" href="@item.Link">
                    @item.Name
                </a>
            }
)
        </div>
    </div>
</nav>