#layoutSidenav {
    display: flex;
}

    #layoutSidenav #layoutSidenav_nav {
        flex-basis: 225px; 
        flex-shrink: 0;
    }

    #layoutSidenav #layoutSidenav_content {
        flex-grow: 1;
        min-width: 0;
    }

.sb-sidenav-menu-heading {
    padding: 1.5rem 1rem 0.75rem 1rem;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark {
    background-color: #212529;
}

#layoutSidenav_content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto; 
}

.nav {
    display: flex; 
    flex-direction: column; 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block; 
    padding: 0.75rem 1rem;
    color: rgba(255, 255, 255, 0.65); 
    text-decoration: none; 
}

    .nav-link:hover {
        rgba(255, 255, 255, 1);   }

.sb-sidenav-menu-heading {

    padding: 1.5rem 1rem 0.75rem 1rem;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
}
.nav-link.active {

    color: #4CAF50;
}